<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Disable viewport zooming -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <title>Take Quiz</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Itim&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <div id="bootstrap-div" class="container-fluid">
    <%- include('partials/_header') %>

    <main>
      <h1><%= quiz_name %></h1>
      <section id="take-quiz-container">
        <form action="/somewhere">
          <% for (const question in questions) { %>
              <p><%= questions[question].question %></p>
              <% for (const answer of answers[question]) { %>
                <input type="radio" id="<%= answer.id %>" name="<%= answer.question_id %>" value="<%= answer.answer_text %>">
                <label for="html"><%= answer.answer_text %></label>
              <% } %>
          <% } %>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </main>

    <footer class="page-footer">
      <div>
        <a href="/about">About</a>
        <a href="/copyright">Copyright Notice</a>
        <a href="/privacy">Privacy Policy</a>
      </div>
      <p>© 2021 Quizzle, Inc.</p>
    </footer>
  </div>
  <!-- To ensure the code in these files run only after the content is loaded onto the page -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
